@using Kendo.Mvc.UI
@using KendoHelpersSampleApp.ViewModels
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        <h2>People</h2>
        @(Html.Kendo().Grid<IndexViewModel>()
              .Name("PeopleGrid")
              .Columns(columns =>
              {
                  columns.Bound(p => p.FullName).Title("Full name").Width(180);
                  columns.Bound(p => p.LastName).Title("Last name").Hidden(true); // Hidden column is nescessary to display label for full name group. Name of the property will be displayed if you will remove it.
              })
              .Groupable()
              .Pageable(pager => pager.PageSizes(new[] { 10, 15, 25 }))
              .Sortable()
              .Scrollable(container => container.Height("auto"))
              .Filterable()
              .DataSource(dataSource => dataSource
                  .Ajax()
                  .Read("ReadPeople", "PeopleData")
                  .PageSize(15)
              ))
        </div>
</div>